{% extends 'main/shablon.html' %}

{% block title %}Форма по добавлению статьи{% endblock title %}

{% block content %}
    <div class="features">
        <h1>Форма по добавлению статьи</h1>
        <form method="post">
            {% csrf_token %}
            {{ form.title }}<br>
            {{ form.anons }}<br>
            {{ form.full_text }}<br>
            {{ form.date }}<br>
            <span>{{ error }}</span>

            <!-- <input type="text" placeholder="Название статьи"><br>
            <input type="text" placeholder="Анонс статьи"><br>
            <textarea placeholder="Текст статьи"></textarea><br>
            <input type="date"><br>
            <input type="time"><br> -->
            <button type="sumbit">Добавить статью</button>
        </form>
    </div>
{% endblock content %}